.cart-container {
  width: 90%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 15px;
  text-align: center;
  font-weight: 500;
}

.cart-table th {
  background: #f4f4f4;
  font-weight: bold;
}

.qty-btn {
  background: #f4f4f4;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.qty {
  margin: 0;
  font-weight: bold;
}

.remove-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
}

.cart-footer {
  background-color: #dddddd94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}

.coupon-form {
  display: flex;

  gap: 10px;
  align-items: center;
}

.coupon-input {
  padding: 10px;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.apply-coupon {
  background: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.clear-cart,
.checkout {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-cart {
  background: orangered;
  color: white;
}

.checkout {
  background: rgb(47, 51, 58);
  color: white;
}
.checkout:hover {
  background: rgb(47, 51, 58);
  color: white;
}
@media (max-width: 768px) {
  .cart-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .cart-table {
    min-width: 600px;
  }
}
@media (max-width: 1000px) {
  .cart-footer,
  .cart-actions,
  .coupon-form {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .coupon-input {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .coupon-form {
    flex-wrap: wrap;
    gap: 15px;
  }
}
