
.form-container {
  width:auto !important;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.auth-button {
  width: 100% !important; 
  background-color: orangered;
  border: orangered;
 
}
.auth-button:hover {
  
  background-color: rgb(47, 51, 58);
  transition: background-color 0.1s ease-in-out;
}
.btnRegister {
  background-color: rgb(47, 51, 58);
  color: white;
  border-radius: 10%;
  width: 100% ;
}
.btnPassword {
  background-color: gainsboro;
  color: black;
  border-radius: 5%;
  width: 100% !important ;
}
.auth-card {
  width: 100%;
  height: max-content;
  background-color: white;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

